/*
[class^=col-]{
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}
*/

.col-4 {
	border: 1px solid rgba(86,61,124,.2);
}

.tiles {

}

.header {
	background: black;
	color: white;
	font-size: 20px;
}

.featuredcontainer {
	background: #f2f2f2;
	text-align: center;
	padding-bottom: 70px;
}
.featuredtitle {
	padding: 55px;
}
.featuredtitle h1 {
	font-weight: normal;
}

.rounded img {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.beforefooter {
	background-image: url("images2/ddg-bg.jpg");
	height: 200px;
}

.footer {
	background: black;
	color: white;
	font-size: 20px;
	text-align: center;
}
